{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Planning Page</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/icon type">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/Planning/style.css' %}">
</head>
<body>
    <header>
        <nav role="navigation">
            <div id="menuToggle">
                <input type="checkbox" />

                <span></span>
                <span></span>
                <span></span>
                
                <ul id="menu">
                    <a href="#planning"><li><img src="{% static 'img/planning.png' %}" width="25px">Planning</li></a>
                    <a href="#recette"><li><img src="{% static 'img/recette.png' %}" width="25px">Recette</li></a>
                    <a href="#liste-de-course"><li><img src="{% static 'img/list.png' %}" width="25px">Liste de Course</li></a>
                    <a href="/user/"><li><img src="{% static 'img/avatar/avatar-homme.png' %}" width="25px">Profile</li></a>
                    <a href="/user/#logout"><li><img src="{% static 'img/exit.png' %}" width="25px">Logout</li></a>
                </ul>
            </div>
        </nav>
        <a href="/">
            <h1>FoodPlaner</h1>
        </a>
        <a href="/user" class="user_image">
            <img src="{{base_image}}" with="64px" height="64px" alt="{{base_image}}">
        </a>
    </header>

    <div class="content" style="display: flex; align-items: center;">
        <div id="planning" class="hide card">
            <h1>Planning</h1>
            <nav class="navplanning">
                <ul>
                        <a href="#Lundi">Lundi</a>
                        <a href="#Mardi">Mardi</a>
                        <a href="#Mercredi">Mercredi</a>
                        <a href="#Jeudi">Jeudi</a>
                        <a href="#Vendredi">Vendredi</a>
                        <a href="#Samedi">Samedi</a>
                        <a href="#Dimanche">Dimanche</a>
                </ul>

            </nav>
            <div class="content">
                <div id="Lundi">
                    {% for id, recette in Lundi.items %}
                        <div class="recette_card {{id}}">
                            <div class="content_recette_card">
                                <img src="{{recette.img}}" width="64px">
                                <h4>{{ recette.nom }}</h4>
                                <p>{{recette.author}}</p>

                                <!-- affiche image liked if recette.liked = TRue-->
                                {% if recette.liked == True %}
                                    <form  method="POST">
                                        {% csrf_token %}
                                        <button id="fav" type="submit" name="supfav" value="{{id}}">
                                            <img src="{% static 'img/liked.png' %}" width="32px" height="32px">
                                        </button>
                                    </form>
                                {% else %}
                                    <form  method="POST">
                                        {% csrf_token %}
                                        <button id="fav" type="submit" name="addfav" value="{{id}}">
                                            <img src="{% static 'img/like.png' %}" width="32px" height="32px">
                                        </button>
                                    </form>
                                {% endif %}
                                
                                <img class="fleche" src="{% static 'img/fleche.png' %}" width="32px" height="32px">
                            </div>
                            <div class="info_recette hide">
                                <div class="top">
                                    <div class="derouler">
                                        <p>Derouler:</p>
                                        <ul>
                                            {% for derouler in recette.derouler %}
                                                <li>{{derouler}}</li>
                                            {% endfor %}
                                        </ul>
                                        
                                    </div>
                                    <div class="ingredients">
                                        <p>Ingredients:</p>
                                        <!--Select number of person without limit-->
                                        <input type="number" pattern="[0-9]*" inputmode="numeric" placeholder="n° person">
                                        <ul>
                                            {% for ingredient in recette.ingredients %}
                                                <li>{{ingredient}}</li>
                                            {% endfor %}
                                        </ul>
                                        
                                    </div>
                                </div>
                               
                                <form  method="POST">
                                    {% csrf_token %}
                                    <button id="sup" type="submit" name="sup_recette_planning" value="{{id}}">
                                        <p>Supprimer</p>
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endfor %} 
                </div>
                <div id="Mardi">
                    {% for id, recette in Mardi.items %}
                        <div class="recette_card {{id}}">
                            <div class="content_recette_card">
                                <img src="{{recette.img}}" width="64px">
                                <h4>{{ recette.nom }}</h4>
                                <p>{{recette.author}}</p>

                                <!-- affiche image liked if recette.liked = TRue-->
                                {% if recette.liked == True %}
                                    <form  method="POST">
                                        {% csrf_token %}
                                        <button id="fav" type="submit" name="supfav" value="{{id}}">
                                            <img src="{% static 'img/liked.png' %}" width="32px" height="32px">
                                        </button>
                                    </form>
                                {% else %}
                                    <form  method="POST">
                                        {% csrf_token %}
                                        <button id="fav" type="submit" name="addfav" value="{{id}}">
                                            <img src="{% static 'img/like.png' %}" width="32px" height="32px">
                                        </button>
                                    </form>
                                {% endif %}
                                
                                <img class="fleche" src="{% static 'img/fleche.png' %}" width="32px" height="32px">
                            </div>
                            <div class="info_recette hide">
                                <div class="top">
                                    <div class="derouler">
                                        <p>Derouler:</p>
                                        <ul>
                                            {% for derouler in recette.derouler %}
                                                <li>{{derouler}}</li>
                                            {% endfor %}
                                        </ul>
                                        
                                    </div>
                                    <div class="ingredients">
                                        <p>Ingredients:</p>
                                        <!--Select number of person without limit-->
                                        <input type="number" pattern="[0-9]*" inputmode="numeric" placeholder="n° person">
                                        <ul>
                                            {% for ingredient in recette.ingredients %}
                                                <li>{{ingredient}}</li>
                                            {% endfor %}
                                        </ul>
                                        
                                    </div>

                                </div>
                                <form  method="POST">
                                    {% csrf_token %}
                                    <button id="sup" type="submit" name="sup_recette_planning" value="{{id}}">
                                        <p>Supprimer</p>
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div id="Mercredi">
                    {% for id, recette in Mercredi.items %}
                        <div class="recette_card {{id}}">
                            <div class="content_recette_card">
                                <img src="{{recette.img}}" width="64px">
                                <h4>{{ recette.nom }}</h4>
                                <p>{{recette.author}}</p>

                                <!-- affiche image liked if recette.liked = TRue-->
                                {% if recette.liked == True %}
                                    <form  method="POST">
                                        {% csrf_token %}
                                        <button id="fav" type="submit" name="supfav" value="{{id}}">
                                            <img src="{% static 'img/liked.png' %}" width="32px" height="32px">
                                        </button>
                                    </form>
                                {% else %}
                                    <form  method="POST">
                                        {% csrf_token %}
                                        <button id="fav" type="submit" name="addfav" value="{{id}}">
                                            <img src="{% static 'img/like.png' %}" width="32px" height="32px">
                                        </button>
                                    </form>
                                {% endif %}
                                
                                <img class="fleche" src="{% static 'img/fleche.png' %}" width="32px" height="32px">
                            </div>
                            <div class="info_recette hide">
                                <div class="top">
                                    <div class="derouler">
                                        <p>Derouler:</p>
                                        <ul>
                                            {% for derouler in recette.derouler %}
                                                <li>{{derouler}}</li>
                                            {% endfor %}
                                        </ul>
                                        
                                    </div>
                                    <div class="ingredients">
                                        <p>Ingredients:</p>
                                        <!--Select number of person without limit-->
                                        <input type="number" pattern="[0-9]*" inputmode="numeric" placeholder="n° person">
                                        <ul>
                                            {% for ingredient in recette.ingredients %}
                                                <li>{{ingredient}}</li>
                                            {% endfor %}
                                        </ul>
                                        
                                    </div>
                                </div>
                                <form  method="POST">
                                    {% csrf_token %}
                                    <button id="sup" type="submit" name="sup_recette_planning" value="{{id}}">
                                        <p>Supprimer</p>
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div id="Jeudi"> 
                    {% for id, recette in Jeudi.items %}
                        <div class="recette_card {{id}}">
                            <div class="content_recette_card">
                                <img src="{{recette.img}}" width="64px">
                                <h4>{{ recette.nom }}</h4>
                                <p>{{recette.author}}</p>

                                <!-- affiche image liked if recette.liked = TRue-->
                                {% if recette.liked == True %}
                                    <form  method="POST">
                                        {% csrf_token %}
                                        <button id="fav" type="submit" name="supfav" value="{{id}}">
                                            <img src="{% static 'img/liked.png' %}" width="32px" height="32px">
                                        </button>
                                    </form>
                                {% else %}
                                    <form  method="POST">
                                        {% csrf_token %}
                                        <button id="fav" type="submit" name="addfav" value="{{id}}">
                                            <img src="{% static 'img/like.png' %}" width="32px" height="32px">
                                        </button>
                                    </form>
                                {% endif %}
                                
                                <img class="fleche" src="{% static 'img/fleche.png' %}" width="32px" height="32px">
                            </div>
                            <div class="info_recette hide">
                                <div class="top">
                                    <div class="derouler">
                                        <p>Derouler:</p>
                                        <ul>
                                            {% for derouler in recette.derouler %}
                                                <li>{{derouler}}</li>
                                            {% endfor %}
                                        </ul>
                                        
                                    </div>
                                    <div class="ingredients">
                                        <p>Ingredients:</p>
                                        <!--Select number of person without limit-->
                                        <input type="number" pattern="[0-9]*" inputmode="numeric" placeholder="n° person">
                                        <ul>
                                            {% for ingredient in recette.ingredients %}
                                                <li>{{ingredient}}</li>
                                            {% endfor %}
                                        </ul>
                                        
                                    </div>
                                </div>
                                <form  method="POST">
                                    {% csrf_token %}
                                    <button id="sup" type="submit" name="sup_recette_planning" value="{{id}}">
                                        <p>Supprimer</p>
                                    </button>
                                </form>
                                
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div id="Vendredi"> 
                    {% for id, recette in Vendredi.items %}
                        <div class="recette_card {{id}}">
                            <div class="content_recette_card">
                                <img src="{{recette.img}}" width="64px">
                                <h4>{{ recette.nom }}</h4>
                                <p>{{recette.author}}</p>

                                <!-- affiche image liked if recette.liked = TRue-->
                                {% if recette.liked == True %}
                                    <form  method="POST">
                                        {% csrf_token %}
                                        <button id="fav" type="submit" name="supfav" value="{{id}}">
                                            <img src="{% static 'img/liked.png' %}" width="32px" height="32px">
                                        </button>
                                    </form>
                                {% else %}
                                    <form  method="POST">
                                        {% csrf_token %}
                                        <button id="fav" type="submit" name="addfav" value="{{id}}">
                                            <img src="{% static 'img/like.png' %}" width="32px" height="32px">
                                        </button>
                                    </form>
                                {% endif %}
                                
                                <img class="fleche" src="{% static 'img/fleche.png' %}" width="32px" height="32px">
                            </div>
                            <div class="info_recette hide">
                                <div class="top">
                                    <div class="derouler">
                                        <p>Derouler:</p>
                                        <ul>
                                            {% for derouler in recette.derouler %}
                                                <li>{{derouler}}</li>
                                            {% endfor %}
                                        </ul>
                                        
                                    </div>
                                    <div class="ingredients">
                                        <p>Ingredients:</p>
                                        <!--Select number of person without limit-->
                                        <input type="number" pattern="[0-9]*" inputmode="numeric" placeholder="n° person">
                                        <ul>
                                            {% for ingredient in recette.ingredients %}
                                                <li>{{ingredient}}</li>
                                            {% endfor %}
                                        </ul>
                                        
                                    </div>
                                </div>
                                <form  method="POST">
                                    {% csrf_token %}
                                    <button id="sup" type="submit" name="sup_recette_planning" value="{{id}}">
                                        <p>Supprimer</p>
                                    </button>
                                </form>
                                
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div id="Samedi"> 
                    {% for id, recette in Samedi.items %}
                        <div class="recette_card {{id}}">
                            <div class="content_recette_card">
                                <img src="{{recette.img}}" width="64px">
                                <h4>{{ recette.nom }}</h4>
                                <p>{{recette.author}}</p>

                                <!-- affiche image liked if recette.liked = TRue-->
                                {% if recette.liked == True %}
                                    <form  method="POST">
                                        {% csrf_token %}
                                        <button id="fav" type="submit" name="supfav" value="{{id}}">
                                            <img src="{% static 'img/liked.png' %}" width="32px" height="32px">
                                        </button>
                                    </form>
                                {% else %}
                                    <form  method="POST">
                                        {% csrf_token %}
                                        <button id="fav" type="submit" name="addfav" value="{{id}}">
                                            <img src="{% static 'img/like.png' %}" width="32px" height="32px">
                                        </button>
                                    </form>
                                {% endif %}
                                
                                <img class="fleche" src="{% static 'img/fleche.png' %}" width="32px" height="32px">
                            </div>
                            <div class="info_recette hide">
                                <div class="top">
                                    <div class="derouler">
                                        <p>Derouler:</p>
                                        <ul>
                                            {% for derouler in recette.derouler %}
                                                <li>{{derouler}}</li>
                                            {% endfor %}
                                        </ul>
                                        
                                    </div>
                                    <div class="ingredients">
                                        <p>Ingredients:</p>
                                        <!--Select number of person without limit-->
                                        <input type="number" pattern="[0-9]*" inputmode="numeric" placeholder="n° person">
                                        <ul>
                                            {% for ingredient in recette.ingredients %}
                                                <li>{{ingredient}}</li>
                                            {% endfor %}
                                        </ul>
                                        
                                    </div>
                                </div>
                                <form  method="POST">
                                    {% csrf_token %}
                                    <button id="sup" type="submit" name="sup_recette_planning" value="{{id}}">
                                        <p>Supprimer</p>
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div id="Dimanche"> 
                    {% for id, recette in Dimanche.items %}
                        <div class="recette_card {{id}}">
                            <div class="content_recette_card">
                                <img src="{{recette.img}}" width="64px">
                                <h4>{{ recette.nom }}</h4>
                                <p>{{recette.author}}</p>

                                <!-- affiche image liked if recette.liked = TRue-->
                                {% if recette.liked == True %}
                                    <form  method="POST">
                                        {% csrf_token %}
                                        <button id="fav" type="submit" name="supfav" value="{{id}}">
                                            <img src="{% static 'img/liked.png' %}" width="32px" height="32px">
                                        </button>
                                    </form>
                                {% else %}
                                    <form  method="POST">
                                        {% csrf_token %}
                                        <button id="fav" type="submit" name="addfav" value="{{id}}">
                                            <img src="{% static 'img/like.png' %}" width="32px" height="32px">
                                        </button>
                                    </form>
                                {% endif %}
                                
                                <img class="fleche" src="{% static 'img/fleche.png' %}" width="32px" height="32px">
                            </div>
                            <div class="info_recette hide">
                                <div class="top">
                                    <div class="derouler">
                                        <p>Derouler:</p>
                                        <ul>
                                            {% for derouler in recette.derouler %}
                                                <li>{{derouler}}</li>
                                            {% endfor %}
                                        </ul>
                                        
                                    </div>
                                    <div class="ingredients">
                                        <p>Ingredients:</p>
                                        <!--Select number of person without limit-->
                                        <input type="number" pattern="[0-9]*" inputmode="numeric" placeholder="n° person">
                                        <ul>
                                            {% for ingredient in recette.ingredients %}
                                                <li>{{ingredient}}</li>
                                            {% endfor %}
                                        </ul>
                                        
                                    </div>
                                </div>
                                <form  method="POST">
                                    {% csrf_token %}
                                    <button id="sup" type="submit" name="sup_recette_planning" value="{{id}}">
                                        <p>Supprimer</p>
                                    </button>
                                </form>
                            
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        <div id="recette" class="show card">
            <div class="nav_recette show">
                <nav class="menu_recette">
                    <ul>
                        <a href="#favorite">Mes Favoris</a>
                        <a href="#creation">Mes Creation</a>
                        <a href="#rechercher_recette">Rechercher</a>
                    </ul>
                </nav>
            </div>
            <div class="part_recette show">
                <div id="favorite" class="show">
                    <h3>Mes Favorites</h3>
                    {% for id, recette in recettes_favorites.items %}
                        <div class="recette_card {{id}}">
                            <div class="content_recette_card">
                                <img src="{{recette.img}}" width="64px">
                                <h4>{{ recette.nom }}</h4>
                                <p>{{recette.author}}</p>

                                <!-- sup the fav when img liked is click-->

                                <form  method="POST">
                                    {% csrf_token %}
                                    <button id="fav" type="submit" name="supfav" value="{{id}}">
                                        <img src="{% static 'img/liked.png' %}" width="32px" height="32px">
                                    </button>
                                </form>


                                <img class="fleche" src="{% static 'img/fleche.png' %}" width="32px" height="32px">
                            </div>
                            <div class="info_recette hide">
                                <div class="derouler">
                                    <p>Derouler:</p>
                                    <ul>
                                        {% for derouler in recette.derouler %}
                                            <li>{{derouler}}</li>
                                        {% endfor %}
                                    </ul>
                                    
                                </div>
                                <div class="ingredients">
                                    <p>Ingredients:</p>
                                    <!--Select number of person without limit-->
                                    <input type="number" pattern="[0-9]*" inputmode="numeric" placeholder="n° person">
                                    <ul>
                                        {% for ingredient in recette.ingredients %}
                                            <li>{{ingredient}}</li>
                                        {% endfor %}
                                    </ul>
                                    
                                </div>
                                <div class="add_planning">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <select name="day">
                                            <option value="lundi">Lundi</option>
                                            <option value="mardi">Mardi</option>
                                            <option value="mercredi">Mercredi</option>
                                            <option value="jeudi">Jeudi</option>
                                            <option value="vendredi">Vendredi</option>
                                            <option value="samedi">Samedi</option>
                                            <option value="dimanche">Dimanche</option>
                                        </select>
                                        <button type="submit" name="add_planning" value="{{id}}"><img src="{% static 'img/add_planning.png' %}"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div id="creation" class="hide">
                    <div class="top">
                        <h3>Mes Creation</h3>
                        <a id="cree_recette_link" href="#cree_recette"><img src="{% static 'img/new.png' %}"></a>
                    </div>
                    

                    {% for id, recette in recettes_creation.items %}
                        <div class="recette_card {{id}}">
                            <div class="content_recette_card">
                                <img src="{{recette.img}}" width="64px">
                                <h4>{{ recette.nom }}</h4>
                                <p>{{recette.author}}</p>

                                <!-- affiche image liked if recette.liked = TRue-->
                                {% if recette.liked == True %}
                                    <form  method="POST">
                                        {% csrf_token %}
                                        <button id="fav" type="submit" name="supfav" value="{{id}}">
                                            <img src="{% static 'img/liked.png' %}" width="32px" height="32px">
                                        </button>
                                    </form>
                                {% else %}
                                    <form  method="POST">
                                        {% csrf_token %}
                                        <button id="fav" type="submit" name="addfav" value="{{id}}">
                                            <img src="{% static 'img/like.png' %}" width="32px" height="32px">
                                        </button>
                                    </form>
                                {% endif %}
                                
                                <img class="fleche" src="{% static 'img/fleche.png' %}" width="32px" height="32px">
                            </div>
                            <div class="info_recette hide">
                                <div class="top">
                                    <div class="derouler">
                                        <p>Derouler:</p>
                                        <ul>
                                            {% for derouler in recette.derouler %}
                                                <li>{{derouler}}</li>
                                            {% endfor %}
                                        </ul>
                                        
                                    </div>
                                    <div class="ingredients">
                                        <p>Ingredients:</p>
                                        <!--Select number of person without limit-->
                                        <input type="number" pattern="[0-9]*" inputmode="numeric" placeholder="n° person">
                                        <ul>
                                            {% for ingredient in recette.ingredients %}
                                                <li>{{ingredient}}</li>
                                            {% endfor %}
                                        </ul>
                                        
                                    </div>
                                    <div class="add_planning">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <select name="day">
                                                <option value="lundi">Lundi</option>
                                                <option value="mardi">Mardi</option>
                                                <option value="mercredi">Mercredi</option>
                                                <option value="jeudi">Jeudi</option>
                                                <option value="vendredi">Vendredi</option>
                                                <option value="samedi">Samedi</option>
                                                <option value="dimanche">Dimanche</option>
                                            </select>
                                            <button type="submit" name="add_planning" value="{{id}}"><img src="{% static 'img/add_planning.png' %}"></button>
                                        </form>
                                    </div>
                                </div>
                               
                                <form  method="POST">
                                    {% csrf_token %}
                                    <button id="sup" type="submit" name="sup_recette" value="{{id}}">
                                        <p>Supprimer</p>
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div id="cree_recette" class="hide">
                    <h3>Cree une Recette</h3>
                    <form method="POST" enctype= "multipart/form-data">
                        {% csrf_token %}
                        <div class="top">
                            <div class="img_part">

                                <label for="imageUpload" class="custom-file-upload">
                                    <img src="{% static 'img/download_img.png' %}" />
                                </label>
                                <input name="img" type="file" id="imageUpload" accept="image/*" style="display: none;" />

                            </div>
                            
                            <input type="text" name="nom_recette" placeholder="Nom de la recette">
                            <p>{{ username.username }}</p>
                        </div>
                        <div class="midle">
                            <textarea id="derouler" name="derouler" rows="7" cols="35">derouler de votre recette</textarea>
                            <textarea id="ingredients" name="ingredients" rows="7" cols="35">vos ingredients</textarea>
                        </div>
                        <div class="bottom">
                            <button type="submit" name="cree_recette">Cree</button>
                        </div>
                        
                        
                    </form>
                </div>

                <div id="rechercher_recette" class="hide">
                    <div class="top">
                        <h3>Rechercher une Recette</h3>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="text" name="search" placeholder="Rechercher une recette">
                            <button type="submit" name="search_recette" ><img src="{% static 'img/rechercher.png' %}"></button>
                        </form>
                    </div>
                    
                    <div class="content">
                        {% for id, recette in recette_recherche.items %}
                            <div class="recette_card {{id}}">
                                <div class="content_recette_card">
                                <img src="{{recette.img}}" width="64px">
                                <h4>{{ recette.nom }}</h4>
                                <p>{{recette.author}}</p>

                                <!-- affiche image liked if recette.liked = TRue-->
                                {% if recette.liked == True %}
                                    <form  method="POST">
                                        {% csrf_token %}
                                        <button id="fav" type="submit" name="supfav" value="{{id}}">
                                            <img src="{% static 'img/liked.png' %}" width="32px" height="32px">
                                        </button>
                                    </form>
                                {% else %}
                                    <form  method="POST">
                                        {% csrf_token %}
                                        <button id="fav" type="submit" name="addfav" value="{{id}}">
                                            <img src="{% static 'img/like.png' %}" width="32px" height="32px">
                                        </button>
                                    </form>
                                {% endif %}
                                
                                <img class="fleche" src="{% static 'img/fleche.png' %}" width="32px" height="32px">
                                </div>
                                <div class="info_recette hide">
                                    <div class="derouler">
                                    <p>Derouler:</p>
                                    <ul>
                                        {% for derouler in recette.derouler %}
                                            <li>{{derouler}}</li>
                                        {% endfor %}
                                    </ul>
                                    
                                    </div>
                                    <div class="ingredients">
                                    <p>Ingredients:</p>
                                    <!--Select number of person without limit-->
                                    <input type="number" pattern="[0-9]*" inputmode="numeric" placeholder="n° person">
                                    <ul>
                                        {% for ingredient in recette.ingredients %}
                                            <li>{{ingredient}}</li>
                                        {% endfor %}
                                    </ul>
                                    
                                    </div>
                                    <!--selection day for add id to planning send in form-->
                                    <div class="add_planning">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <select name="day">
                                                <option value="lundi">Lundi</option>
                                                <option value="mardi">Mardi</option>
                                                <option value="mercredi">Mercredi</option>
                                                <option value="jeudi">Jeudi</option>
                                                <option value="vendredi">Vendredi</option>
                                                <option value="samedi">Samedi</option>
                                                <option value="dimanche">Dimanche</option>
                                            </select>
                                            <button type="submit" name="add_planning" value="{{id}}"><img src="{% static 'img/add_planning.png' %}"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>   
                </div>
            </div>
        </div>
        <div id="liste-de-course" class="hide card">
            <h1>Liste de course</h1>
        </div>
    </div>

    <script>

        function DoSubmit(){
            let username = localStorage.getItem("username");

            document.page_user.user_page.value = username;

        }
        const card = document.querySelectorAll('.card');
        const links = document.querySelectorAll('#menu a');
        const planning = document.getElementById('planning');
        const recette = document.getElementById('recette');
        const liste_de_course = document.getElementById('liste-de-course');
        let nav_recette = document.querySelector('.nav_recette');
        let part_recette = document.querySelector('.part_recette');
        let favorite = document.getElementById('favorite');
        let creation = document.getElementById('creation');
        let rechercher_recette = document.getElementById('rechercher_recette');
        let info_recette = document.querySelector('.info_recette');
        let cree_recette = document.getElementById('cree_recette');
        let Lundi = document.getElementById('Lundi');
        let Mardi = document.getElementById('Mardi');
        let Mercredi = document.getElementById('Mercredi');
        let Jeudi = document.getElementById('Jeudi');
        let Vendredi = document.getElementById('Vendredi');
        let Samedi = document.getElementById('Samedi');
        let Dimanche = document.getElementById('Dimanche');


        function hideAll() {
            for (let i = 0; i < card.length; i++) {
                card[i].classList.remove('show');
                card[i].classList.add('hide');
            }
            planning.classList.remove('show');
            planning.classList.add('hide');
            recette.classList.remove('show');
            recette.classList.add('hide');
            liste_de_course.classList.remove('show');
            liste_de_course.classList.add('hide');
            nav_recette.classList.remove('show');
            nav_recette.classList.add('hide');
            favorite.classList.remove('show');
            favorite.classList.add('hide');
            part_recette.classList.remove('show');
            part_recette.classList.add('hide');
            info_recette.classList.remove('show');
            info_recette.classList.add('hide');
            creation.classList.remove('show');
            creation.classList.add('hide');
            rechercher_recette.classList.remove('show');
            rechercher_recette.classList.add('hide');
            cree_recette.classList.remove('show');
            cree_recette.classList.add('hide');
            Lundi.classList.remove('show');
            Mardi.classList.remove('show');
            Mercredi.classList.remove('show');
            Jeudi.classList.remove('show');
            Vendredi.classList.remove('show');
            Samedi.classList.remove('show');
            Dimanche.classList.remove('show');
            Lundi.classList.add('hide');
            Mardi.classList.add('hide');
            Mercredi.classList.add('hide');
            Jeudi.classList.add('hide');
            Vendredi.classList.add('hide');
            Samedi.classList.add('hide');
            Dimanche.classList.add('hide');

        }

        for (let i = 0; i < links.length; i++) {
            links[i].addEventListener('click', function() {
                for (let j = 0; j < card.length; j++) {
                    hideAll();
                    card[j].classList.remove('show');
                    card[j].classList.add('hide');
                }
                if (links[i].hash == "#planning") {
                    hideAll();
                    planning.classList.remove('hide');
                    planning.classList.add('show');
                    Lundi.classList.remove("hide");
                    Lundi.classList.add("show");
                } else if (links[i].hash == "#recette") {
                    hideAll();
                    recette.classList.remove('hide');
                    recette.classList.add('show');
                    nav_recette.classList.remove('hide');
                    nav_recette.classList.add('show');
                    favorite.classList.remove('hide');
                    favorite.classList.add('show');
                    part_recette.classList.remove('hide');
                    part_recette.classList.add('show');
                } else if (links[i].hash == "#liste-de-course") {
                    hideAll();
                    liste_de_course.classList.remove('hide');
                    liste_de_course.classList.add('show');
                }
            });
        }

        let recettes_links = document.querySelectorAll('nav.menu_recette ul a');
        for (let i = 0; i < recettes_links.length; i++) {
            recettes_links[i].addEventListener('click', function() {
                console.log(recettes_links[i].hash);
                
                if (recettes_links[i].hash == "#favorite") {
                    hideAll();
                    console.log(favorite.classList);
                    favorite.classList.remove('hide');
                    favorite.classList.add('show');
                    part_recette.classList.remove('hide');
                    part_recette.classList.add('show');
                    nav_recette.classList.remove('hide');
                    nav_recette.classList.add('show');
                } else if (recettes_links[i].hash == "#creation") {
                    hideAll();
                    console.log(creation.classList);
                    creation.classList.remove('hide');
                    creation.classList.add('show');
                    part_recette.classList.remove('hide');
                    part_recette.classList.add('show');
                    nav_recette.classList.remove('hide');
                    nav_recette.classList.add('show');
                } else if (recettes_links[i].hash == "#rechercher_recette") {
                    hideAll();
                    console.log(rechercher_recette.classList);
                    rechercher_recette.classList.remove('hide');
                    rechercher_recette.classList.add('show');
                    part_recette.classList.remove('hide');
                    part_recette.classList.add('show');
                    nav_recette.classList.remove('hide');
                    nav_recette.classList.add('show');
                }
            });
        }

        let planninglink = document.querySelectorAll(".navplanning ul a") ;
        for (let i = 0; i < planninglink.length; i++) {
            planninglink[i].addEventListener("click",function() {
                if (planninglink[i].hash =="#Lundi"){
                    hideAll();
                    planning.classList.remove('hide');
                    planning.classList.add('show');
                    Lundi.classList.remove("hide")
                    Lundi.classList.add("show")
                }
                else if (planninglink[i].hash =="#Mardi"){
                    hideAll();
                    planning.classList.remove('hide');
                    planning.classList.add('show');
                    Mardi.classList.remove("hide")
                    Mardi.classList.add("show")
                }
                else if (planninglink[i].hash =="#Mercredi"){
                    hideAll();
                    planning.classList.remove('hide');
                    planning.classList.add('show');
                    Mercredi.classList.remove("hide")
                    Mercredi.classList.add("show")
                }
                else if (planninglink[i].hash =="#Jeudi"){
                    hideAll();
                    planning.classList.remove('hide');
                    planning.classList.add('show');
                    Jeudi.classList.remove("hide")
                    Jeudi.classList.add("show")
                }
                else if (planninglink[i].hash =="#Vendredi"){
                    hideAll();
                    planning.classList.remove('hide');
                    planning.classList.add('show');
                    Vendredi.classList.remove("hide")
                    Vendredi.classList.add("show")
                }
                else if (planninglink[i].hash =="#Samedi"){
                    hideAll();
                    planning.classList.remove('hide');
                    planning.classList.add('show');
                    Samedi.classList.remove("hide")
                    Samedi.classList.add("show")
                }
                else if (planninglink[i].hash =="#Dimanche"){
                    hideAll();
                    planning.classList.remove('hide');
                    planning.classList.add('show');
                    Dimanche.classList.remove("hide")
                    Dimanche.classList.add("show")
                }

            });
        }



        let fleches = document.querySelectorAll('.fleche');
        for (let i = 0; i < fleches.length; i++) {
            fleches[i].addEventListener('click', function() {
                /*get the div fleche who was click and active is info_recette*/
                let info_recette = fleches[i].parentElement.parentElement.querySelector('.info_recette');

                if (info_recette.classList.contains('hide')) {
                    info_recette.classList.remove('hide');
                    info_recette.classList.add('show');
                    fleches[i].style.transform = "rotate(270deg)";
                } else {
                    info_recette.classList.remove('show');
                    info_recette.classList.add('hide');
                    fleches[i].style.transform = "rotate(180deg)";
                }
            });
        }

        let cree_recette_link = document.getElementById('cree_recette_link');
        cree_recette_link.addEventListener('click', function() {
            hideAll();
            part_recette.classList.remove('hide');
            part_recette.classList.add('show');
            cree_recette.classList.remove('hide');
            cree_recette.classList.add('show');
            console.log(cree_recette.classList);
        });
    
        
    </script>
</body>
</html>