body{
    padding: 0%;
    margin: 0%;
    padding-top: 50px;
    padding-left: 30px;
}
main{
    display: flex;
}

.menu{
    margin: 30px;
    padding: 10px;
    display : flex;
    flex-direction: column;
    width: 30%;
    height: 275px;
    box-shadow: 0 0 10px #999;
    border-radius: 10px;
}

.menu a{
    text-decoration: none;
    color: #000;
    font-size: large;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    border: 1px solid #999;
}
.menu a:hover{
    /* add profondity to the shadow */
    box-shadow: 0 0 10px #999;

}
.menu a:active{
    background-color: #999;
}

.card{
    box-shadow: 0 0 10px #999;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;

}
.hide{
    display: none;
}
.show{
    display: flex;
}

a.retour{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 10px;
    width: 150px;
}
a.retour img{
    margin-right: 20px;
}