body
{
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Avenir Next", "Avenir", sans-serif;
}


/* menu */
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #999;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #000;

}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#planning{
  display: flex ;
  flex-direction: column;
  color: #000 ;
  font-size: 20px ;
  border: 1px solid #999;
  border-radius: 10px;
  width: 80% ;
  align-items: center;
  justify-content: center;
}

.navplanning a{
  text-decoration: none;
  color: #000 ;
  margin: 10px;
}

.navplanning {
  border: 1px solid #999;
  border-radius: 10px;
}

/* nav */
nav.menu_recette{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  border-radius: 10px;
  margin: 10px;
  width: 100%;
}
nav.menu_recette a{
  text-decoration: none;
  color: #999;
  font-size: 20px;
  margin: 10px;
}
nav.menu_recette a:hover{
  color: #000;
}
nav.menu_recette a:active{
  color: #000;
}




/*
 *  hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #999;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  width: 300px;
  margin: -50px 0 0 -80px;
  padding: 50px;
  padding-top: 125px;
  
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  border: 1px solid #999;
  border-radius: 10px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}

header{
    display: flex;
    border: 1px solid #999;
    border-radius: 10px;
    margin: 10px;
    justify-content: space-between;
}
header a{
    text-decoration: none;
}
header h1{
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: 100;
    color: #000;
    text-align: center;
    margin-left: 0px;
    margin-top: 35px;
    margin-bottom: 15px;
}
header img{
    margin-top: 20px;
    margin-right: 50px;
    cursor: pointer;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}


/* recettes favorites */
.content{
  color: black;
  display: flex;
  flex-direction: column;
}

#recette{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.part_recette{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px;
  
}
#favorite{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  border-radius: 10px;
  margin: 10px;
  width: 100%;
}
.recette_card{
  display: flex;
  flex-direction: column;
  border: 1px solid #999;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-style: bold;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  width: 450px;
}
.content_recette_card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.recette_card img{
  padding-right: 15px;
}
.recette_card p{
  padding-right: 30px;
  padding-left: 30px;
}
.fleche{
  transform: rotate(180deg);
}
.fleche:hover{
  cursor: pointer;
  transform: translateX(5px) rotate(180deg);
  transition: all 0.5s ease-in-out;
}

.derouler{
  font-size: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
}
.ingredients{
  font-size: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
}
.ingredients input{
  width: 50px;
  margin-left: 30px;
}

/*recettes creations*/

.top{
  display: flex;
  align-items: center;
  width: 100%;
}
.top h3{
  color: #000;
  text-align: center;
  padding-left: 40%;

}
.top a{
  color: #000;
  text-align: center;
  cursor: pointer;
  padding-left: 25%;
}

.hide{
  display: none;
}
.show{
  display: block;
}

.info_recette .top {
  display: flex;
  align-items: center;
  width: 100%;
}

.info_recette.show{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info_recette.hide{
  display: none;
}
#creation.show{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #999;
  border-radius: 10px;
  margin: 10px;
}
#creation.hide{
  display: none;
}
#favorite.show{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  border-radius: 10px;
  margin: 10px;
  width: 100%;
}
#favorite.hide{
  display: none;
}
#favorite .info_recette.show{
  display: flex;
  flex-direction: row;
}
#favorite .recette_card .info_recette.hide{
  display: none;
}

#rechercher_recette .info_recette.show{
  display : flex;
  flex-direction: row;
}

#rechercher_recette .info_recette.hide{
  display: none;
}

#cree_recette.show{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  border-radius: 10px;
  margin: 10px;
  width: 100%;
}
#cree_recette.hide{
  display: none;
}

#cree_recette form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#cree_recette form .top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
}
#cree_recette form .middle{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#cree_recette form .bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#cree_recette form .bottom button{
  width: 100%;
  margin: 10px;
  border: 1px solid #999;
  border-radius: 10px;
}
.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  width: 50px;
  border-radius: 4px;
}

.custom-file-upload img {
  vertical-align: middle;
  margin-right: 10px;
  width: 50px;
}


button{
  background-color: #fff;
  border: none;
  margin: 10px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
#rechercher_recette.show{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  border-radius: 10px;
  margin: 10px;
  width: 100%;
}
#rechercher_recette form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
}
#rechercher_recette .top{
  display:flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#rechercher_recette .top h3{
  padding-left: 25%;
}

#rechercher_recette form input{
  margin: 5px;
  border: 1px solid #999;
  border-radius: 10px;
  width: 200px;
}
.add_planning{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  border: 1px solid #999;
  border-radius: 10px;
  margin: 20px;
}
.add_planning button{
  margin: 5px;
  color: #999;
  border: 1px solid #999;
  border-radius: 10px;
}
.add_planning button:hover{
  color: #000;
}
.add_planning select{
  margin: 5px;
  color: #999;
  border: 1px solid #999;
  border-radius: 10px;
}
.add_planning select:hover{
  color: #000;
}
#planning.show{
  display: flex;

}
#planning.hide{
  display: none;
}