{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/icon type">
    <title>User Page</title>
    <link rel="stylesheet" href="{% static 'css/User/style.css' %}">    <title>User Page</title>
</head>
<body>
    <a class="retour" href="/planning/"><img src="{% static 'img/retour.png' %}">Planning</a>
    <main>
        <div class="menu">
            <h2>Profile Setting</h1>
            <a href="#account">Account</a>
            <a href="#password">Password</a>
            <a href="#delete">Delete</a>
            <a href="#logout">Logout</a>
        </div>
        <div class="content">
            <div class="account shox card">
                <h1>Account</h1>
                <p>Username: {{ username }}</p>
                <p>Email: {{ email }}</p>

            </div>
            <div class="password hide card">
                <h1>Password</h1>
                <form method="POST">
                    {% csrf_token %}
                    <input type="password" name="old_password" placeholder="Old password" required="">
                    <input type="password" name="new_password" placeholder="New password" required="">
                    <input type="password" name="new_password2" placeholder="New password again" required="">
                    <button type="submit" name="change_password" value="{{ username }}">Change password</button>
                    {% if error %}
                        <p class="error_password">{{ error_password }}</p>
                    {% endif %}
                    {% if password_changed %}
                        <p class="success_changed">Le mot de passe a bien été modifié</p>
                    {% endif %}
                </form>
            </div>
            <div class="delete hide card">
                <h1>Delete</h1>
                <form method="POST">
                    {% csrf_token %}
                    <input type="password" name="password" placeholder="Password" required="">
                    <button type="submit" name="delete_account" value="{{ username }}">Delete account</button>
                    {% if error %}
                        <p class="error_password">{{ error_password }}</p>
                    {% endif %}
                </form>
            </div>
            <div class="logout hide card">
                <h1>Logout</h1>
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="logout" value="logout" onclick="logout_user()">Logout</button>
                </form>
            </div>

        </div>
        <form name="user_form" method="POST" >
            {% csrf_token %}
            <input style="display:none" type="text" id="username" name="user" value="{{ username }}">
        </form>
    </main>
    <script>
        const menu = document.querySelector('.menu');
        const content = document.querySelector('.content');
        const cards = document.querySelectorAll('.card');
        const links = document.querySelectorAll('.menu a');
        const account = document.querySelector('.account');
        const password = document.querySelector('.password');
        const deleteAccount = document.querySelector('.delete');
        const logout = document.querySelector('.logout');

        menu.addEventListener('click', (e) => {
            if (e.target.tagName === 'A') {
                links.forEach((link) => {
                    link.classList.remove('active');
                });
                e.target.classList.add('active');
                cards.forEach((card) => {
                    card.classList.add('hide');
                });
                if (e.target.getAttribute('href') === '#account') {
                    account.classList.remove('hide');
                } else if (e.target.getAttribute('href') === '#password') {
                    password.classList.remove('hide');
                } else if (e.target.getAttribute('href') === '#delete') {
                    deleteAccount.classList.remove('hide');
                } else if (e.target.getAttribute('href') === '#logout') {
                    logout.classList.remove('hide');
                }
            }
        });


    </script>


</body>
</html>